@import 'tailwindcss';

:root {
	--bg: light-dark(theme(--color-stone-50), theme(--color-stone-950));
	--fg: light-dark(theme(--color-stone-800), theme(--color-stone-200));
	--muted-fg: light-dark(theme(--color-stone-600), theme(--color-stone-400));
	--muted: light-dark(theme(--color-stone-300), theme(--color-stone-700));

	--ff-sans: 'General Sans', sans-serif;
}

@theme {
	--font-sans: var(--ff-sans);

	--color-bg: var(--bg);
	--color-fg: var(--fg);
	--color-muted: var(--muted);
	--color-muted-fg: var(--muted-fg);
}

::selection {
	@apply bg-fg/10;
}

@layer base {
	html {
		@apply bg-bg text-fg;
		color-scheme: light dark;
	}

	body {
		@apply font-sans;
	}

	article {
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply mt-6! mb-3! underline underline-offset-3;
		}

		h2 {
			@apply text-lg;
		}

		ul {
			@apply list-inside list-disc;
		}

		ol {
			@apply list-inside list-decimal;
		}
	}
}

@utility container {
	@apply mx-auto max-w-2xl px-6 sm:px-0;
}

@layer components {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
	}

	strong {
		font-weight: 500;
	}

	select {
		@apply rounded-md p-2 transition;
	}

	button {
		@apply inline-flex items-center justify-center gap-2 rounded-md p-2;

		&.link {
			@apply rounded-none p-0;
		}
	}

	a,
	button.link {
		@apply underline decoration-muted;
		transition: text-decoration 250ms;

		&:hover {
			@apply decoration-fg;
		}
	}

	ul {
		@apply space-y-1;
	}

	p {
		max-width: 70ch;
		line-height: 1.5em;
		@apply leading-relaxed;

		&:not(:last-of-type) {
			@apply mb-3;
		}

		code {
			@apply rounded border border-muted px-1;
		}
	}

	pre {
		@apply rounded border border-muted p-4 font-mono;
	}

	video,
	img {
		@apply mx-auto;
	}
}
