@import 'tailwindcss';

:root {
	--light: hsl(28.24, 68%, 96.1%);
	--dark: hsl(0, 0%, 7.02%);

	--bg: light-dark(var(--light), var(--dark));
	--fg: light-dark(var(--dark), var(--light));

	--muted: --alpha(var(--fg) / 40%);
	--muted-fg: --alpha(var(--fg) / 50%);
	--border: --alpha(var(--fg) / 10%);

	--primary: light-dark(hsl(27.79, 66.67%, 40%), hsl(27.96, 67.32%, 70%));

	--ff-serif: 'Sentient', serif;
}

@theme {
	--font-serif: var(--ff-serif);

	--color-bg: var(--bg);
	--color-fg: var(--fg);
	--color-muted: var(--muted);
	--color-border: var(--border);
	--color-muted-fg: var(--muted-fg);
	--color-primary: var(--primary);
}

::selection {
	@apply bg-fg/10;
}

@layer base {
	html {
		@apply bg-bg text-fg;
		color-scheme: light dark;

		--noise-opacity: 0.1;

		&[style='color-scheme: dark;'] {
			--noise-opacity: 0.5;
		}

		.noise {
			position: fixed;
			z-index: -10;

			&::after {
				content: '';
				height: 400vh;
				width: 400vw;
				top: calc(50% - 400vh / 2);
				left: calc(50% - 400vw / 2);
				position: absolute;
				background-image: url('/images/noise.webp');
				animation: grain 8s steps(10) infinite;
				opacity: var(--noise-opacity);
			}
		}
	}

	body {
		@apply font-serif;
	}

	article {
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply mt-6! mb-3!;
		}

		h2 {
			@apply text-lg;
		}

		ul,
		ol {
			@apply list-inside pl-1;

			&:is(ul) {
				@apply list-disc;
			}

			&:is(ol) {
				@apply list-decimal;
			}

			li::marker {
				@apply text-muted-fg;
			}
		}
	}
}

@utility container {
	@apply mx-auto max-w-lg px-6 sm:px-0;
}

@layer components {
	select {
		@apply rounded-md p-2 transition;
	}

	button {
		@apply inline-flex items-center justify-center gap-2 rounded-md p-2;

		&.link {
			@apply rounded-none p-0;
		}
	}

	a,
	button.link {
		@apply text-primary underline decoration-muted underline-offset-2;
		transition: color text-decoration 250ms;

		&:hover {
			@apply decoration-primary;
		}

		&.ghost-link {
			@apply text-muted-fg;
			&:hover {
				@apply text-primary decoration-primary;
			}
		}
	}

	ul {
		@apply space-y-1;
	}

	p {
		line-height: 1.7em;
		text-wrap: pretty;
		&:not(:last-of-type) {
			@apply mb-4;
		}

		code {
			@apply border border-muted/50 px-1;
		}
	}

	pre {
		@apply rounded border border-muted p-4 font-mono;
	}

	video,
	img {
		@apply mx-auto;
		z-index: 0;
	}

	.drop-cap {
		@supports (initial-letter: 2) {
			&::first-letter {
				initial-letter: 2;
				margin: 4px;
				color: var(--primary);
			}
		}

		@supports not (initial-letter: 2) {
			&::first-letter {
				@apply float-start mr-2 pt-2.5 text-5xl text-primary;
			}
		}
	}
}
