@import 'tailwindcss';

:root {
	--c-fg: light-dark(theme('colors.stone.950'), theme('colors.stone.50'));
	--c-bg: light-dark(theme('colors.stone.50'), theme('colors.stone.900'));
	--c-muted: light-dark(theme('colors.stone.600'), theme('colors.stone.400'));
	--c-border: light-dark(theme('colors.stone.400'), theme('colors.stone.500'));
	--ff-sans: 'Inter Variable', sans-serif;
}

@theme {
	--font-sans: var(--ff-sans);
	--color-fg: var(--c-fg);
	--color-bg: var(--c-bg);
	--color-muted: var(--c-muted);
}

@layer base {
	html {
		color-scheme: light dark;
	}
}

@utility container {
	@apply mx-auto max-w-lg px-6 sm:px-0;
}

@layer components {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}

	strong {
		font-weight: 600;
	}

	select {
		@apply rounded-md p-2 transition hover:bg-muted/5;
	}

	button {
		@apply inline-flex items-center justify-center gap-2 rounded-md p-2;

		&.link {
			@apply rounded-none p-0;
		}
	}

	a,
	button.link {
		transition: text-decoration 250ms;
		text-decoration: underline solid 1px var(--c-border);

		&:hover {
			text-decoration-color: var(--c-fg);
		}
	}

	ul {
		@apply list-disc space-y-1 pl-4;
	}

	p {
		max-width: 70ch;
		line-height: 1.5em;

		&:not(:last-of-type) {
			@apply mb-3;
		}
	}
}
