@import 'tailwindcss';

:root {
	--ff-sans: 'Inter Variable', sans-serif;
}

@theme {
	--font-sans: var(--ff-sans);
	--color-fg: var(--md-sys-color-on-surface);
	--color-bg: var(--md-sys-color-surface);
	--color-muted: var(--md-sys-color-on-surface-variant);
	--color-primary: var(--md-sys-color-primary);
	--color-border: var(--md-sys-color-outline);
	--color-dim: var(--md-sys-color-outline);
	--color-surface: var(--c-surface);
}

@layer base {
	html {
		color-scheme: light dark;
	}
}

@utility container {
	@apply mx-auto max-w-2xl px-6 sm:px-0;
}

@layer components {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}

	strong {
		font-weight: 600;
	}

	select {
		@apply rounded-md p-2 transition hover:bg-primary/5;
	}

	button {
		@apply inline-flex items-center justify-center gap-2 rounded-md p-2;

		&.link {
			@apply rounded-none p-0;
		}
	}

	a,
	button.link {
		@apply underline decoration-border;
		transition: text-decoration 250ms;

		&:hover {
			@apply decoration-fg;
		}

		&[href^='http'] {
			&:hover {
				&::after {
					@apply text-fg;
				}
			}
			&::after {
				@apply text-muted;
				margin-left: 4px;
				font-size: 14px;
				font-weight: 200;
				display: inline-block;
				content: '\2197';
				transition: color 250ms;
			}
		}
	}

	ul {
		@apply space-y-1;
	}

	p {
		max-width: 70ch;
		line-height: 1.5em;

		&:not(:last-of-type) {
			@apply mb-2;
		}

		code {
			@apply rounded border border-border bg-surface px-1;
		}
	}

	pre {
		@apply rounded p-4 font-mono;
	}
}
